.btn:focus,.btn:active:focus,.btn.active:focus,
.btn.focus,.btn:active.focus,.btn.active.focus {
    outline: none;
}


#top-header {
  background-image: url(/imgs/mainvisual.jpg);
  background-size: cover;
}

#top-header h1 {
  margin: 0;
  height: 200px
}

#top-logo {
  position: absolute;
  fill: white;
  top: 75px;
  left: 62px;
  width: 210px;
  height: 60px;
}

.top-item-thumb {
  width: 280px;
  margin-top: 20px;
  margin-bottom: 20px;
}

#floors-list img {
  width:100%;
  margin:1px;
}

#floors-list div {
  width:40px;
  margin-right:10px;
  float: left;
}

#floors-list .unit-bottom {
  margin-bottom:10px;
}

@media screen and (min-width: 767px) {
  #top-header h1 {
    margin: 0;
    height:400px
  }

  #top-logo {
    position: absolute;
    fill: white;
    top: 150px;
    left: 125px;
    width: 420px;
    height: 120px;
  }

  .top-item-thumb {
    width: 200px;
  }

  #floors-list div {
    width:80px;
    float: left;
  }
}

@media screen and (min-width: 992px) {
  .top-item-thumb {
    width: 280px;
  }
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 3px 3px;
  line-height: 1;
  font-size: 12px;
  border-radius: 15px;
}

.word-behaviors label {
  margin-left: 15px;
  font-weight: normal;
}

.word {
  color: #000;
}

.word-square {
  color: #000;
  font-weight: bold;
}

.word-prefix {
  color: #000;
}
.word-suffix {
  color: #000;
}

.word-core {
  color: #999;
}

/*
.word-core-0 {
  color: #b99;
}

.word-core-1 {
  color: #b99;
}

.word-core-2 {
  color: #b99;
}
*/

.word-core-0 {
  color: #4caf50;
}

.word-core-1 {
  color: #ff9800;
}

.word-core-2 {
  color: #c2185b;
}

.word-list-base {
  color: #ccc;
}
.word-list-base:hover {
  color: #ccc;
}

.word-core-a:first-letter {
  font-weight: bold;
}

.word:hover {
  color: #000;
}

.index-search-group {
}

.index-search-group .input-group-addon {
  background: white !important;
}

.index-search-group .form-control {
	border-right: 0;
	box-shadow: 0 0 0;
	border-color: #ccc;
}

.index-search-group button {
  border: 0;
  background: transparent;
}

.index-filters-list {
  text-indent: 0;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 0;
}

.index-filter-item {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.index-filter-item-current a {
  color: #999;
}

.story-lines {
  padding-left: 0;
  list-style-type: none;
}

.story-line {
  margin-top: 5px;
}

.story-line-text {
  margin-left: 10px;
}


#modal {
  z-index:100;
	position:fixed;
	top:0;
	left:0;
	width:100%;
  height:120%;
	background-color:rgba(0,0,0,0.75);
}

.modal-image {
  width: 100%;
  height: 100%;
  object-fit: scale-down;
}
